.footer_h1{
    font-size: 36px;
    text-align: center;
    padding: 40px 0;
    color:  #4E9F0D;
}
iframe{
   width: 1500px; 
   height: 502px;
   text-align: center;
   margin-bottom: 50px;
}
.all_footer{
    background: #000;
}
.footer{
    max-width: 1500px;
    margin: 0 auto;

}
ul li {
    display: inline-block;
    padding-left: 30px;
    color: white;

}
.footer_number{
    color: #4E9F0D;
    padding-left: 850px;
    font-size: 24px;
}
.footer_contacts{
    margin-left: 500px;
}
.logo_footer{
    display: flex;
}
.logo_footer_1{
    background-color: #4E9F0D;
    color: white;
    margin-left: 300px;
    padding: 3px 25px ;
    font-size: 20px;
    border-radius:4px ;
}

.Proweb{
    color: #7A7A7A;
    margin-left:200px ;
    margin-top: -50px;
    padding-bottom: 50px;
}
.footer_contacts ul li a{
    padding: 20px;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: -20px;
    margin-bottom: 100px;
}
ul li a:hover{
    color: #7A7A7A;
    border-left: 3px solid rgb(241, 21, 21) ;
    border-right: 3px solid rgb(0, 42, 255) ;
}
@media only screen and (max-width:1366px) {
    iframe{
        width: 1100px; 

     }
     .footer{
        max-width: 1100px;
        margin: 0 auto;
    
    }
    .logo_footer_1{
        margin-left: 150px;

    }
    .footer_contacts{
        margin-left: 320px;
    }
    .footer_number{
        padding-left: 780px;
    }
}