@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.all_header{
    max-width: 100%;
    background-image: url("../images/bg_img.png");

}
header{
   max-width: 90%;
   margin: 0 auto;

}

header nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
    align-items: center;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    padding: 20px;
    display: block;
    color: #4E9F0D;
    font-size: 18px;
    font-weight: 200;


}
header .header_main{
    max-width: 1400px;
    margin: auto;
}
header .header_main h1{
    font-size: 80px;
    color: #4E9F0D;
    margin-top: 170px;
}
header .header_main p:nth-last-of-type(2) {
    font-size: 40px;
    color: #4E9F0D;
    padding-bottom: 30px;
}
header .header_main p:nth-last-of-type(1) {
    font-size: 18px;
    color: white;
    padding-bottom: 30px;
}
header .header_main .btn1 {
    font-size: 20px;
    color: white;
    padding: 20px;
    margin-bottom: 100px;
}
header nav .logo{

    padding: 0px 15px;
    font-size: 20px;
    color: white;
    font-weight: 300;
    background-color:  #4E9F0D;

}
.btn1{
    width: 250px;
    background: #4E9F0D;
    border: none;


}
@media only screen and (max-width:1366px) {
    header nav{
        max-width: 1100px;
    }
    header .header_main{
        max-width: 1100px;
    }
}
@media only screen and (max-width:1150px) {
    header nav{
        max-width: 900px;
    }
    header .header_main{
        max-width: 900px;
    }
}