.all_main{
    max-width: 100%;
    background-image: url('../images/section_bg\ 1.png');
    text-align: center;
    max-width: auto;
    height: 500px;
}
.Main_section{
    max-width: 90%;
    margin: 0 auto;
}
.main_h1{
    padding: 30px ;
    color: #4E9F0D;
    font-size: 36px;
    font-weight: 700;
}
.about_product1{

    width: 1400px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 200;
    color: white;
    padding-bottom: 50px;
}
.about_product2{
    width: 1400px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 200;
    color: white;
}
@media only screen and (max-width:1366px) {
    .about_product1{
        width: 1070px;
    }
    .about_product2{
        width: 1070px;
    }
}
.line{
    border: 1px solid #4E9F0D;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}